.form-group {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    padding: .5rem 1.5rem;
}
.search-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: gray;
}