.pokedex_outer_shape {
    width: 80%;
    height: 416px;
    max-width: 800px;
    margin: 5rem auto 0 auto;
    display: block;
    position: relative;
    background-color: #FB4737;
}
.top-shape {
    width: 90px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #FB4737;
    clip-path: polygon(100% 0, 90% 0, 100% 0, 98% 68%, 60% 55%, 88% 100%, 0 100%, 38% 21%, 67% 36%, 97% 0);
}
.bottom-shape {
    width: 75px;
    height: 100px;
    background-color: #FB4737;
    clip-path: polygon(0% 0%, 100% 0, 84% 75%, 50% 91%, 17% 75%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}