.info-card-container{
    width: 100%;
    max-width: 700px;
    margin: 3rem auto;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    overflow: hidden;
}
.info-card__header-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.header-title {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.title__name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.title__number {
    font-size: 1.5rem;
    font-weight: bold;
}
.types-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.type__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.type__name {
    font-weight: bold;
    text-transform: capitalize;
}
.info-card__body-container {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.base-info__wrapper, .abilities__wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.base-info__element, .abilities__title, .stats__title {
    font-weight: bold;
}
.abilities__item, .stat__name {
    text-transform: capitalize;
    font-style: italic;
}
.info-card__stats-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.stat__wrapper {
    width: 90%;
    margin: auto;
    padding: .5rem 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.statbar__bg {
    width: 100%;
    height: 20px;
    background-color: #2d3142;
    border-radius: 3px;
    overflow: hidden;
}
.statbar__percent {
    height: 100%;
    background-color: #4f5d75;
}
/*TABLET*/
@media screen and (min-width: 768px) {
    .info-card__body-container {
        width: 80%;
        margin: auto;
        flex-flow: row;
    }
}