.info-card-container{
    width: 80%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.desktop-topsection-container {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.info-card__header-wrapper {
    width: 90%;
    max-width: 450px;
    margin: 1rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header-title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.types-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.type__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.type__name {
    font-weight: bold;
    text-transform: capitalize;
}
.info-card__body-container {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.base-info__wrapper, .abilities__wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.abilities__item, .stat__name {
    text-transform: capitalize;
}
.info-card__stats-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.stat__wrapper {
    width: 90%;
    margin: auto;
    padding: .5rem 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.stat__wrapper:last-of-type {
    margin-bottom: 1rem;
}
.statbar__bg {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.statbar__percent {
    height: 100%
}
/*TABLET*/
@media screen and (min-width: 768px) {
    .info-card__body-container {
        width: 95%;
        margin: auto;
        flex-flow: row;
        gap: none;
        justify-content: space-around;
        font-size: 1.2rem;
    }
    .info-card__stats-container {
        font-size: 1.25rem;
    }
    .title__name {
        font-size: 3rem;
    }
    .title__number {
        font-size: 2.5rem;
    }
    .stat__wrapper {
        align-items: flex-start;
    }
    .statbar__bg {
        height: 30px;
    }
}
/*DESKTOP*/
@media screen and (min-width: 1024px) {
    .info-card-container {
        max-width: 1000px;
    }
    .header-title {
       margin: 0;
       justify-content: space-between;
    }
    .desktop-topsection-container {
        width: 80%;
        margin: auto;
        flex-flow: row;
        gap: 2rem;
    }
    .info-card__body-container {
        max-width: 50%;
        gap: 3rem;
        flex-flow: column wrap;
    }
    .info-card__stats-container {
        font-size: 2.25rem;
    }
    .stat__wrapper {
        font-size: 1.25rem;
    }
    .base-info__wrapper, .abilities__wrapper {
        align-items: flex-start;
    }
}