@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Smooch Sans', sans-serif;
  background-color: rgba(231, 239, 245, 0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app-container {
  padding: 0;
}

