.pokedex_outer_shape {
    width: 80%;
    max-width: 800px;
    margin: 5rem auto 0 auto;
    display: block;
    position: relative;
    background-color: red;
}
.top-shape {
    width: 30px;
    border-bottom: 50px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}
.bottom-shape {
    width: 30px;
    border-top: 50px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}